<!DOCTYPE html>
<html>
<head>
  <title>Shadow</title>
  <%= stylesheet_link_tag    "shadow/application", :media => "all" %>
  <%= javascript_include_tag "shadow/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
